.bg-custom {
  background-image: url("../images/beach-bg.jpg");
  background-size: cover;
  background-position: top left;
  background-color: rgba(99, 123, 153, 0.8);
  background-blend-mode: screen;
}

#placeholders {
  letter-spacing: 5px;
}